In [1]:
import pandas as pd

In [2]:
data=pd.Series([23,80,80,12,90,30,22,66,90,65,25,44,15,28])

In [3]:
data.mean()

np.float64(47.857142857142854)

In [4]:
data.median()

np.float64(37.0)

In [5]:
data.mode()

0    80
1    90
dtype: int64

In [7]:
data=pd.read_csv("../DataSets/Data Science/shoe_sales.csv")

In [8]:
data.head()

       date   brand  sold_qty
0  9/1/2023    Nike      24.0
1  9/1/2023  Adidas      14.0
2  9/2/2023    Nike      21.0
3  9/2/2023  Adidas      12.0
4  9/3/2023    Nike      18.0

In [10]:
data.sample(5)

         date   brand  sold_qty
52  9/27/2023    Nike      22.0
41  9/21/2023  Adidas      18.0
31  9/16/2023  Adidas      14.0
24  9/13/2023    Nike      16.0
13   9/7/2023  Adidas      16.0

In [11]:
data["brand"].unique()

array(['Nike', 'Adidas'], dtype=object)

In [12]:
data["brand"].value_counts()

brand
Nike      30
Adidas    30
Name: count, dtype: int64

In [14]:
data.isna().sum()

date        0
brand       0
sold_qty    2
dtype: int64

In [15]:
data[data["sold_qty"].isna()]

         date brand  sold_qty
32  9/17/2023  Nike       NaN
48  9/25/2023  Nike       NaN

In [18]:
data[data["brand"]=="Nike"]["sold_qty"].mean()

TypeError: 'numpy.float64' object is not callable

In [20]:
data["sold_qty"].fillna(data[data["brand"]=="Nike"]["sold_qty"].mean(),inplace=True)

C:\Users\Ajay Varma\AppData\Local\Temp\ipykernel_22344\344849540.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["sold_qty"].fillna(data[data["brand"]=="Nike"]["sold_qty"].mean(),inplace=True)

In [21]:
data.isna().sum()

date        0
brand       0
sold_qty    0
dtype: int64

In [23]:
data.groupby("brand")["sold_qty"].mean()

brand
Adidas    34.800000
Nike      19.642857
Name: sold_qty, dtype: float64