# Lable Encoding

In [4]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

In [3]:
le=LabelEncoder()

In [5]:
data=pd.read_csv("../../DataSets/cars93.csv")

In [6]:
data.head()

  Manufacturer    Model     Type  Price  ...  Horsepower Passengers  Rear.seat.room  Luggage.room
0        Acura  Integra    Small   15.9  ...         140          5            26.5          11.0
1        Acura   Legend  Midsize   33.9  ...         200          5            30.0          15.0
2         Audi       90  Compact   29.1  ...         172          5            28.0          14.0
3         Audi      100  Midsize   37.7  ...         172          6            31.0          17.0
4          BMW     535i  Midsize   30.0  ...         208          4            27.0          13.0

[5 rows x 10 columns]

In [9]:
data["Type"].unique()

array(['Small', 'Midsize', 'Compact', 'Large', 'Sporty', 'Van'],
      dtype=object)

## label encoding ordinal data(by alphabetical order)

In [10]:
data["Type"]=le.fit_transform(data["Type"])

In [11]:
data.head()

  Manufacturer    Model  Type  Price  ...  Horsepower Passengers  Rear.seat.room  Luggage.room
0        Acura  Integra     3   15.9  ...         140          5            26.5          11.0
1        Acura   Legend     2   33.9  ...         200          5            30.0          15.0
2         Audi       90     0   29.1  ...         172          5            28.0          14.0
3         Audi      100     2   37.7  ...         172          6            31.0          17.0
4          BMW     535i     2   30.0  ...         208          4            27.0          13.0

[5 rows x 10 columns]

## label encoding ordinal data(custom order)

In [13]:
from sklearn.preprocessing import OrdinalEncoder

In [14]:
data=pd.read_csv("../../DataSets/cars93.csv")

In [16]:
ord=OrdinalEncoder(categories=[[ 'Compact','Small', 'Midsize','Sporty', 'Van', 'Large' ]])
data["Type"]=ord.fit_transform(data[["Type"]]).astype("int")

In [17]:
data.head()

  Manufacturer    Model  Type  Price  ...  Horsepower Passengers  Rear.seat.room  Luggage.room
0        Acura  Integra     1   15.9  ...         140          5            26.5          11.0
1        Acura   Legend     2   33.9  ...         200          5            30.0          15.0
2         Audi       90     0   29.1  ...         172          5            28.0          14.0
3         Audi      100     2   37.7  ...         172          6            31.0          17.0
4          BMW     535i     2   30.0  ...         208          4            27.0          13.0

[5 rows x 10 columns]

In [18]:
data["AirBags"].unique()

array(['Driver only', 'Driver & Passenger', nan], dtype=object)

In [20]:
data["Manufacturer"].nunique()

32

In [21]:
data["Model"].unique()

array(['Integra', 'Legend', '90', '100', '535i', 'Century', 'LeSabre',
       'Roadmaster', 'Riviera', 'DeVille', 'Seville', 'Cavalier',
       'Corsica', 'Camaro', 'Lumina', 'Lumina_APV', 'Astro', 'Caprice',
       'Corvette', 'Concorde', 'LeBaron', 'Imperial', 'Colt', 'Shadow',
       'Spirit', 'Caravan', 'Dynasty', 'Stealth', 'Summit', 'Vision',
       'Festiva', 'Escort', 'Tempo', 'Mustang', 'Probe', 'Aerostar',
       'Taurus', 'Crown_Victoria', 'Metro', 'Storm', 'Prelude', 'Civic',
       'Accord', 'Excel', 'Elantra', 'Scoupe', 'Sonata', 'Q45', 'ES300',
       'SC300', 'Continental', 'Town_Car', '323', 'Protege', '626', 'MPV',
       'RX-7', '190E', '300E', 'Capri', 'Cougar', 'Mirage', 'Diamante',
       'Sentra', 'Altima', 'Quest', 'Maxima', 'Achieva', 'Cutlass_Ciera',
       'Silhouette', 'Eighty-Eight', 'Laser', 'LeMans', 'Sunbird',
       'Firebird', 'Grand_Prix', 'Bonneville', '900', 'SL', 'Justy',
       'Loyale', 'Legacy', 'Swift', 'Tercel', 'Celica', 'Camry', 'Previa',
       'Fox', 'Eurovan', 'Passat', 'Corrado', '240', '850'], dtype=object)